<div class="jumbotron-full">
  <h2 class="">Blocapidia: Social, Markdown Wikis</h2>
  <h3>Create and share Markdown Wikis</h3>
  <% if !current_user %>
    <p>
      <a class="btn btn-success" href="#">Sign up now!</a>
    </p>
  <% end %>
</div>
<div class="container">
  
  <% if !current_user %>
    <div class="col-md-4">
      <div class="thumbnail text-center">
        <h2>Free Plan</h2>
        <p>The Free plan allows you to create as many public wikis a you want! With a name, description, and a body.</p>
        <a href="<%= new_user_registration_path %>" class="btn btn-primary btn-block btn-lg">Sign up!</a>
      </div>
    </div>
  <% end %>

  <% if current_user && !current_user.premium? %>
    <div class="col-md-4">
      <div class="thumbnail text-center star-background">
        <h2 class="primary">Premium Plan</h2>
        <p>The Premium plan gives you the ability to make as many public and private wikis as you want! With all the other abilitys as a Free plan user.</p>
        <% if !current_user %>
          <a href="<%= new_user_registration_path %>" class="btn btn-success btn-block btn-lg">Sign up Now!</a>
        <% elsif current_user && !current_user.premium? %>
          <a href="<%= new_charge_path %>" class="btn btn-success btn-block btn-lg">GO <span class="glyphicon glyphicon-star yellow"></span> PREMIUM</a>
        <% end %>
      </div>
    </div>
  <% end %>

<div class="col-md-4">
  <div class="thumbnail text-center">
    <h2>More about Blocapedia</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, facere nobis enim nostrum numquam soluta in alias facilis consequuntur!</p>
    <a href="<%= about_path %>" class="btn btn-warning btn-block btn-lg">Read More!</a>
  </div>
</div>

</div>