<div class="jumbotron-full">
  <h2 class="">Blocapidia: Social, Markdown Wikis</h2>
  <h3>Create and share Markdown Wikis</h3>
  <p>
    <a class="btn btn-success" href="#">Sign up now!</a>
  </p>
</div>

  <h1 class="text-center">Plans<hr/></h1>

  <div class="col-md-6 text-center">
    <div class="">
      <h1>Free Plan<hr/></h1>
      <h3>Create as many public wikis as you want!</h3>
      <a class="btn btn-default btn-inverse btn-block btn-lg" href="<%= new_user_registration_path %>">Sign up</a>
    </div>
  </div>
  <div class="col-md-6 text-center">
    <div class="">
      <h1>Premium Plan<hr/></h1>
      <h3>Create private wikis!</h3>
      <a class="btn btn-primary btn-inverse btn-block btn-lg" href="<%= new_user_registration_path %>">Sign up</a>
    </div>
  </div>