<h1>Edit Wiki</h1>
<div class="col-md-6">
  <%= render 'form' %>

  <span class="btn-group">
    <%= link_to 'Show', @wiki, class: "btn btn-sm btn-primary" %>
    <%= link_to 'Back', wikis_path, class: "btn btn-sm btn-default" %>
  </span>
</div>


<label>Markdown Preview</label><br/>
<div class="preview-markdown col-md-6">
  
</div>