.jumbotron-full{
  color: #fff;
  text-shadow: 1px 1px 0px #666;
  display: block;
  width: 100%;
  background: url(../assets/large-female.jpg) center center no-repeat;
  background-size: cover;
  padding: 30px 30px 40px 30px;
  min-height: 550px;
  border-radius: 0px;
  text-align: left;
  margin-bottom: 20px;
}
.star-background{
  background: url(../assets/star.png) center center no-repeat;
  background-size: contain;
}

.preview-markdown{
  border: 1px solid #ccc;
  border-radius: 5px;
}

.hide{
  display: none;
}

