.jumbotron-full{
  color: #fff;
  text-shadow: 1px 1px 0px #666;
  display: block;
  width: 100%;
  background: url(../assets/large-female.jpg) center right no-repeat;
  background-size: cover;
  padding: 30px 30px 40px 30px;
  min-height: 400px;
  border-radius: 10px;
  text-align: left;
}